header {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding: 20px 120px 0 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 80px;
        cursor: pointer;
    }

    a {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        color: white;
        text-decoration: none;
        margin-left: 32px;
        cursor: pointer;

        &:hover {
            border-top: 5px solid #87CEFF;
            padding-top: 5px;
        }
    }

}

.darkLinks {
    a {
        color: black;

        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }

}

.headerDark {
    background-color: white;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
}