<img class="container" src="./../../assets/img/berge.jpg">
<h1>Imprint</h1>

<p>Inhaberin der Webseite
Cristina Jordi
Teststrasse 1
01234 Test / Deutschland

Copyright
Das Copyright für sämtliche Inhalte dieser Webseite liegt bei Cristina Jordi.

Disclaimer
Wir haben alle Texte und Links sorgfältig geprüft und aktualisieren diese laufend. Wir bemühen uns, richtige und
vollständige Informationen auf dieser Website bereitzustellen, übernehmen aber keinerlei Verantwortung, Garantien oder
Haftung dafür, dass die durch diese Webseite bereitgestellten Informationen, einschliesslich jeglicher
Datenbankeinträge, richtig, vollständig oder aktuell sind.

Wir behalten uns das Recht vor, jederzeit und ohne Vorankündigung die Informationen auf dieser Website zu ändern und
verpflichten uns auch nicht, die enthaltenen Informationen zu aktualisieren. Alle Links zu externen Anbietern wurden zum
Zeitpunkt ihrer Aufnahme auf ihre Richtigkeit überprüft. Dennoch haften wir nicht für Inhalte und die Verfügbarkeit von
Webseiten, die mittels Hyperlinks zu erreichen sind.

Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die durch die ungeprüfte Nutzung von
Inhalten verknüpfter Seiten entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Dabei ist es
gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist oder ein sonstiger Schaden vorliegt, der
sich aus Datenverlust, Nutzungsausfall oder anderen Gründen aller Art ergeben könnte.</p>
